version: '3.9'

services:
  db:
    image: postgres:16-alpine
    container_name: smartclass-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: smartclass
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "admin"]
      interval: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: smartclass-backend
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql://admin:admin@db:5432/smartclass?schema=public"
      JWT_SECRET: "supersecreto"
      PORT: 5000

  frontend:
    build: ./frontend
    container_name: smartclass-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  db_data:
